@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #8358F9;
  color: #fff;
  font-family: 'Poppins', Arial, sans-serif;
}

a {
  color: #75C7FF;
}

/* -------------- */
/* --- Footer --- */
/* -------------- */

footer {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.footer-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* ----------------- */
/* --- Home page --- */
/* ----------------- */

.home {
  height: 100vh;
  background: linear-gradient(225.6deg, #FB2DFF 6.59%, #3E51FF 96.62%);
}

.logo {
  width: 20rem;
  height: 20rem;
  background-image: url("assets/logo.svg");
  background-size: cover;
  display: block;
}

.tagline {
  font-weight: 500;
  font-style: italic;
}

/* ------------------------- */
/* --- Privacy and Terms --- */
/* ------------------------- */

.legal {
  padding: 24px;
  text-align: start;
  justify-content: start;
  display: block;
}